<section>
{{#if loggedIn}}
    {{!-- Display steps --}}
    <h2>Steps Taken</h2>
    <ul>
      {{#each steps}}
        <li class="steps-div">Username: {{user.username}}, Date: {{date}}, Steps: {{step_count}}, Calories Burned: {{calories_burned}}, Distance: {{distance_travelled}}</li>
      {{/each}}
    </ul>

    {{!-- Display water entries --}}
    <h2>Water Consumption</h2>
    <ul>
      {{#each water}}
        <li class="water-div">Username: {{user.username}}, Date: {{date}}, Daily Goal: {{daily_goal}}, Water Consumed: {{actual_intake}}</li>
      {{/each}}
    </ul>

    {{!-- Display food entries --}}
    <h2 >Food Consumption</h2>
    <ul >
      {{#each food}}
        <li class="food-div">Username: {{user.username}}, Food: {{food_name}}, Serving Size: {{serving_amount}}, Calories: {{calorie_count}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You are not logged in.</p>
  {{/if}}

</section>

<footer class="footer">
      <div class="content has-text-centered">
          <p>
              
              <h3 id="TEAMNAME">TEAM6GO!</h3>
              <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
              <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
              <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
          </p>
          
      </div>
  </footer>

<script src="/JS/logout.js"></script>
