<section>
{{#if loggedIn}}
    {{!-- Display steps --}}
    <h2>Steps Taken</h2>
    <ul>
      {{#each steps}}
        <li>Date: {{date}}, Steps: {{step_count}}, Calories Burned: {{calories_burned}}, Distance: {{distance_travelled}}</li>
      {{/each}}
    </ul>

    {{!-- Display water entries --}}
    <h2>Water Consumption</h2>
    <ul>
      {{#each water}}
        <li>Date: {{date}}, Daily Goal: {{daily_goal}}, Water Consumed: {{actual_intake}}</li>
      {{/each}}
    </ul>

    {{!-- Display food entries --}}
    <h2>Food Consumption</h2>
    <ul>
      {{#each food}}
        <li>Food: {{food_name}}, Serving Size: {{serving_amount}}, Calories: {{calorie_count}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You are not logged in.</p>
  {{/if}}

</section>

<script src="/public/JS/logout.js"></script>
<script src="/public/JS/login.js"></script> 