<section>
{{#if loggedIn}}
    {{!-- Display steps --}}
    <h2 class="dashtitles" id="dashsteps">Steps Taken:</h2>
    <ul >
      {{#each steps}}
      <div></div>
        <li class=" dasdiv" id="data" >Username: {{user.username}}, <br> Date: {{date}},<br> Steps: {{step_count}},<br> Calories Burned: {{calories_burned}},<br> Distance: {{distance_travelled}} miles</li>
      </div>
      {{/each}}
    </ul>

    {{!-- Display water entries --}}
    <h2 class="dashtitles" id="dashwater">Water Consumption:</h2>
    <ul>
      {{#each water}}
        <li class="dasdiv" id="data">Username: {{user.username}},<br> Date: {{date}},<br> Daily Goal: {{daily_goal}},<br> Water Consumed: {{actual_intake}} oz</li>
      {{/each}}
    </ul>

    {{!-- Display food entries --}}
    <h2 class="dashtitles">Food Consumption:</h2>
    <ul >
      {{#each food}}
        <li class="dasdiv" id="data">Username: {{user.username}},<br> Food: {{food_name}},<br> Serving Size: {{serving_amount}},<br> Calories: {{calorie_count}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You are not logged in.</p>
  {{/if}}

</section>

<footer class="footer" id="dashwater">
      <div class="content has-text-centered">
          <p>
              
              <h3 id="TEAMNAME">TEAM6GO!</h3>
              <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
              <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
              <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
          </p>
          
      </div>
  </footer>

<script src="/JS/logout.js"></script>
