<section class="hero " id="profile-hero">
  <div class="hero-body">
    <h1 class="title1">My Profile</h1>
    <div class="level">
      <p class="level-item username">Username:  {{user.username}}</p>
      <p class="level-item email">Email:  {{user.email}}</p>
    </div>
  </div>
</section>

<section>
  <div class="section is-fluid" id="profile-container">
    <div class="level">
      {{! put steps, water, and food entry buttons here to take to matching handlebars  }}
      <button class="btn-food" type="submit" ><a href="/food">Add Food Entry</a></button>
      <button class="btn-steps" type="submit"><a href="/steps">Add Steps Entry</a></button>
      <button class="btn-water" type="submit"><a href="/water">Add Water Entry</a></button>
    </div>

  </div>

  {{! To loop through entries for only logged in user }}
  <div class="data-2">
    <h2 >Steps Taken:</h2>
    <ul class="data-3">
      {{#each steps}}
        <li>Date:
          {{date}},<br> Steps:
          {{step_count}},<br> Calories Burned:
          {{calories_burned}},<br> Distance:
          {{distance_travelled}}<br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit-steps">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-steps">Delete</a>
          </button></li>
      {{/each}}
    </ul>

    {{! Display water entries }}
    <h2>Water Consumption:</h2>
    <ul class="data-3">
      {{#each water}}
        <li>Date:
          {{date}},<br> Daily Goal:
          {{daily_goal}},<br> Water Consumed:
          {{actual_intake}}</li>
      {{/each}}<br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit-water">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-water">Delete</a>
          </button>
    </ul>

    {{! Display food entries }}
    <h2>Food Consumption:</h2>
    <ul class="data-3">
      {{#each food}}
        <li id="food-title">Food:
          {{food_name}},<br> Serving Size:
          {{serving_amount}},<br> Calories:
          {{calorie_count}} <br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit_food/{{id}}">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-entry">Delete</a>
          </button></li>
      {{/each}}
    </ul>
  </div>
</section>

<footer class="footer" id="dashwater">
  <div class="content has-text-centered">
    <p>

      <h3 id="TEAMNAME">TEAM6GO!</h3>
      <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a>
      <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a>
      <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a>
    </p>

  </div>
</footer>

<script src="/JS/delete-entry.js"></script>


