<section class="hero " id="profile-hero">
  <div class="hero-body">
    <h1 class="title1"><strong>My Profile</strong></h1>
    <div class="level">
      <p class="level-item"><strong>Username:  {{user.username}}</strong></p>
      <p class="level-item"><strong>Email:  {{user.email}}</strong></p>
    </div>
  </div>
</section>

<section>
  <div class="section is-fluid" id="profile-container">
    <div class="level">
      {{! put steps, water, and food entry buttons here to take to matching handlebars  }}
      <button class="btn-food" type="submit" ><a href="/food">Add Food Entry</a></button>
      <button class="btn-steps" type="submit"><a href="/steps">Add Steps Entry</a></button>
      <button class="btn-water" type="submit"><a href="/water">Add Water Entry</a></button>
    </div>

  </div>

  {{! To loop through entries for only logged in user }}
  <div id="data">
    <h2><strong>Steps Taken:</strong></h2>
    <ul>
      {{#each steps}}
        <li class="data" >Date:
          {{date}},<br> Steps:
          {{step_count}},<br> Calories Burned:
          {{calories_burned}},<br> Distance:
          {{distance_travelled}}<br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit-steps">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-steps">Delete</a>
          </button></li>
      {{/each}}
    </ul>

    {{! Display water entries }}
    <h2><strong>Water Consumption:</strong></h2>
    <ul>
      {{#each water}}
        <li>Date:
          {{date}},<br> Daily Goal:
          {{daily_goal}},<br> Water Consumed:
          {{actual_intake}}</li>
      {{/each}}<br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit-steps">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-steps">Delete</a>
          </button>
    </ul>

    {{! Display food entries }}
    <h2><strong>Food Consumption:</strong></h2>
    <ul>
      {{#each food}}
        <li id="food-title">Food:
          {{food_name}},<br> Serving Size:
          {{serving_amount}},<br> Calories:
          {{calorie_count}}</li>
      {{/each}}<br><button class="button is-success dashbtn" id="edbtn" type="submit">
            <a href="/edit-steps">Edit</a>
          </button> <button class="button is-danger" id="edbtn" type="submit">
            <a href="/delete-steps">Delete</a>
          </button>
    </ul>

  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>

      <h3 id="TEAMNAME">TEAM6GO!</h3>
      <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a>
      <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a>
      <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a>
    </p>

  </div>
</footer>
